body {
	/*Box model stuff*/
	margin: 0;
	background: rgb(15, 15, 15);
	/*Typography stuff*/
	font-family: "Roboto", sans-serif;
	font-weight: 300;
	color: #fff;
}

h1 {
	/*Box model stuff*/
	margin-top: 15px;
	/*Typography stuff*/
	font-family: "Roboto", sans-serif;
	font-size: 4rem;
	font-weight: 900;
	text-align: center;
	color: azure;
}

audio {
	/*Display stuff*/
	display: flex;
	/*Box model stuff*/
	margin: auto;
	margin-bottom: 30px;
}

h2 {
	/*Box model stuff*/
	margin: 0;
	padding: 10px;
	border: 10px;
	background: rgb(255, 35, 35);
	/*Typography stuff*/
	text-align: center;
	/*Miscellaneous*/
	box-shadow: white 5px 5px 5px;
}

.navigation {
	/*Display stuff*/
	display: block;
	/*Box model stuff*/
	margin: 0;
	padding: 0 1rem;
	background-color: #333;
	/*Miscellaneous*/
	list-style-type: none;
	overflow: hidden;
}

.navigation-background {
	/*Box model stuff*/
	margin: 0;
	padding: 0;
	background-color: #333;
	/*Miscellaneous*/
	list-style-type: none;
	overflow: hidden;
}

.container {
	/*Box model stuff*/
	max-width: 1000px;
	margin: 0 auto;
	padding: 0 10px;
}

.columns {
	/*Display stuff*/
	display: flex;
}

.main-content {
	/*Box model stuff*/
	width: 65%;
	margin: 0;
	padding: 0 auto;
}

.sidebar {
	/*Box model stuff*/
	width: 30%;
	margin: 0 25px;
	padding: 0 auto;
}

.col-text {
	/*Box model stuff*/
	margin: 0;
	padding: 20px 15px 0;
}

.col-image {
	/*Box model stuff*/
	margin-bottom: 20px;
	padding-left: 20px;
	padding-top: 20px;
}

.background-column {
	/*Display stuff*/
	display: flex;
	/*Box model stuff*/
	margin-bottom: 25px;
	background: rgb(33, 33, 33);
	/*Miscellaneous*/
	box-shadow: white 5px 5px 5px;
}

li a {
	/*Display stuff*/
	display: block;
	/*Box model stuff*/
	padding: 14px 16px;
	/*Typography stuff*/
	text-align: center;
	text-decoration: none;
	color: white;
}

li a:hover {
	/*Box model stuff*/
	background-color: #111;
}

.active {
	/*Box model stuff*/
	background-color: rgb(255, 35, 35);
}

.shrek {
	/*Box model stuff*/
	width: 700px;
	height: auto;
}

#demo {
	/*Typography stuff*/
	font-size: 1.5rem;
	text-align: center;
	color: rgb(255, 35, 35);
}

.queue-pictures {
	/*Display stuff*/
	display: flex;
}

.center-pictures {
	/*Display stuff*/
	display: block;
	/*Box model stuff*/
	margin-left: auto;
	margin-right: auto;
}

.flex {
	/*Display stuff*/
	display: flex;
	justify-content: space-around;
}
